.subgallery--press {
  display: flex;
  flex-flow: column wrap;
  height: 600px;
  max-width: 100%;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.image--press {
  width: 100%;
}

.gallery-item--press {
  width: 150px;
  position: relative;
  margin-top: 20px;
}

.gallery-item--press:hover .flag {
  opacity: 1;
}

.flag {
  position: absolute;
  bottom: 0;
  width: 40px;
  opacity: 0;
  transition: opacity 200ms;
}

.flag--french {
  left: 0;
}

.flag--english {
  right: 0;
}

@media only screen and (max-device-width: 768px) {
  .subgallery--press {
    display: block;
    height: auto;
  }

  .gallery-item--press {
    margin-left: auto;
    margin-right: auto;
  }
}

