.layout--vertical {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-gap: 20px;
}

.description--vertical {
  font-size: 1.33em;
}

.description--vertical p {
  margin-bottom: 12px;
}

.subgallery--vertical {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-device-width: 768px) {
  .layout--vertical {
    grid-template-columns: 100%;
  }
}
