.carousel {
  max-height: 80vh;
}

.carousel > div {
  max-height: 80vh;

  /*max-height: 100vh;*/
  /*width:  .auto !important;*/
}

.carousel > div > div {
  width: 100%;
   max-height: 80vh;
  /*overflow: hidden;*/
}
.carousel figure {

  height: 80vh;
  /*width: 100%;*/
}

.carousel img {
  height: 100%;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  /*width: auto;*/
}
.carousel-controls {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.carousel-controls__button {
  font-size: 2em;
  color: #909090;
  opacity: 0.5;
}

.carousel-controls__button:hover {
  opacity: 1;
}
