.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px auto 80px;
  /*padding: 0 40px;*/
  grid-gap: 80px;
}

.placeholder {
  position: relative;
  padding-top: 100%;
  background: #cccccc;
}

.placeholder img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animate-caption:hover figcaption {
  max-height: 300px;
}

.animate-caption figcaption p {
  padding-left: 6px;
}

.animate-caption figcaption p {
  padding-left: 6px;
}

.animate-caption figcaption {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  color: white;
  transition: max-height 300ms;
}





@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?c5yi8j');
  src:  url('../fonts/icomoon.eot?c5yi8j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c5yi8j') format('truetype'),
    url('../fonts/icomoon.woff?c5yi8j') format('woff'),
    url('../fonts/icomoon.svg?c5yi8j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e610";
}
.icon-instagram:before {
  content: "\e617";
}
.icon-fat-close:before {
  content: "\e906";
}
.icon-share-email:before {
  content: "\e90c";
}
.icon-circle-right:before {
  content: "\e900";
}
.icon-circle-left:before {
  content: "\e901";
}
.icon-facebook2:before {
  content: "\e902";
}
