.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px auto 80px;
  grid-gap: 40px;
  max-width: 100%;
}

@media only screen and (max-device-width: 768px) {
  .layout {
    grid-template-rows: 140px auto 80px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}
