/*== IMAGE PLACEHOLDER == */
.placeholder {
  position: relative;
  padding-top: 100%;
  background: #cccccc;
}

.placeholder img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*== ANIMATE CAPTION == */
.animate-caption:hover figcaption {
  max-height: 300px;
}

.animate-caption figcaption p {
  padding-left: 6px;
}

.animate-caption figcaption p {
  padding-left: 6px;
}

.animate-caption figcaption {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  color: white;
  transition: max-height 400ms;
  text-align: center;
}
