.nav {
  /*padding-top: 20px;*/
  grid-column: 2 / 12;
  /*grid-row: 1;*/
  /*padding-left: 20px;
  padding-right: 20px;*/
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__social {
  width: 200px;
}

.nav__social ul {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  height: 20px;
  font-size: 2em;
  position: relative;
  color: #909090;
}

.nav__item--twitter {
  font-size: 3em;
  top: -5px;
}

.nav__item--instagram {
  font-size: 2.1em;
  /*top: -1px;*/
}

.nav__item--mail {
  font-size: 2.33em;
  top: 0px;
}

.nav__item--facebook {
  font-size: 1.33em;
  top: 5px;
}

.nav__item--main {
  width: 150px;
  height: auto;

  top: 11px;
}

.nav__item img {
  height: 100%;
}

.nav__item--main img{
  height: auto;
  width: 100%;
}

@media only screen and (max-device-width: 768px) {
  .nav {
    grid-column: span 6;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav__item--main {
    flex: 1 0 100%;
  }

  .nav__social {
    display: none;
  }

  .nav__list {
    /*flex-wrap: wrap;*/
  }
}

